@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hover: 20deg 6% 90%;

    --background: 48deg 100% 96%;
    --background-secondary: 27deg 33% 62%; /* deprecated */

    --foreground: 28deg 73% 26%;
    --foreground-secondary: 33deg 5% 32%; /* deprecated */
    --foreground-tetriary: 0deg 0% 60%; /* deprecated */

    --popover: 55deg 92% 95%;
    --popover-foreground: 32deg 81% 29%;

    --card: 55deg 92% 95%;
    --card-foreground: 32deg 81% 29%;

    --muted: 55deg 97% 88%;
    --muted-foreground: 45deg 93% 47%;

    --primary: 32deg 81% 29%;
    --primary-foreground: 55deg 92% 95%;

    --secondary: 53deg 98% 77%;
    --secondary-foreground: 41deg 96% 40%;
    /* 33deg 3% 38% */
    --accent: 43deg 96% 53%;
    --accent-foreground: 55deg 92% 95%;

    --border: 50deg 98% 64%;
    --border-secondary: 27deg 32% 76%; /* deprecated */

    --input: 55deg 92% 95%;

    --positive: 111deg 59% 65%; /* deprecated */

    --destructive: 0deg 86% 97%;
    --destructive-foreground: 0deg 72% 51%;

    --warning: 55deg 92% 95%;
    --warning-foreground: 41deg 96% 40%;

    --info: 204deg 100% 97%;
    --info-foreground: 200deg 98% 39%;

    --success: 152deg 81% 96%;
    --success-foreground: 161deg 94% 30%;

    --ring: 27deg 32% 76%; /* deprecated */

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-jet-brains-mono);
  }
}

.font-retro-gaming {
  font-family: var(--font-retro-gaming);
}
