@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hover: 20deg 6% 90%;

    --background: 60deg 9% 98%;
    --background-secondary: 27deg 33% 62%; /* deprecated */

    --foreground: 12deg 6% 15%;
    --foreground-secondary: 33deg 5% 32%; /* deprecated */
    --foreground-tetriary: 0deg 0% 60%; /* deprecated */

    --popover: 60deg 9% 98%;
    --popover-foreground: 12deg 6% 15%;

    --card: 60deg 9% 98%;
    --card-foreground: 12deg 6% 15%;

    --muted: 60deg 5% 96%;
    --muted-foreground: 25deg 5% 45%;

    --primary: 12deg 6% 15%;
    --primary-foreground: 60deg 9% 98%;

    --secondary: 20deg 6% 90%;
    --secondary-foreground: 33deg 5% 32%;
    /* 33deg 3% 38% */
    --accent: 43deg 96% 56%;
    --accent-foreground: 60deg 9% 98%;

    --border: 20deg 6% 90%;
    --border-secondary: 27deg 32% 76%; /* deprecated */

    --input: 60deg 5% 96%;

    --positive: 111deg 59% 65%; /* deprecated */

    --destructive: 0deg 86% 97%;
    --destructive-foreground: 0deg 72% 51%;

    --warning: 55deg 92% 95%;
    --warning-foreground: 41deg 96% 40%;

    --info: 204deg 100% 97%;
    --info-foreground: 200deg 98% 39%;

    --success: 152deg 81% 96%;
    --success-foreground: 161deg 94% 30%;

    --ring: 27deg 32% 76%; /* deprecated */

    --radius: 0.5rem;

    ::-webkit-scrollbar { width: 8px; height: 8px;}
    ::-webkit-scrollbar-track {  background-color: #bbbbbb;}
    ::-webkit-scrollbar-track-piece { background-color: #fff;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #aaaaaa; border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #bbbbbb;}
    ::-webkit-resizer { background-color: #aaaaaa;}
  }

  .dark {
    --hover: 18deg 5% 21%;

    --background: 27deg 65% 3%;
    --background-secondary: 27deg 33% 62%; /* deprecated */

    --foreground: 25deg 9% 91%;
    --foreground-secondary: 27deg 33% 62%; /* deprecated */
    --foreground-tetriary: 0deg 0% 60%; /* deprecated */

    --popover: 27deg 65% 3%;
    --popover-foreground: 25deg 9% 91%;

    --card: 27deg 65% 3%;
    --card-foreground: 25deg 9% 91%;

    --muted: 27deg 10% 11%;
    --muted-foreground: 4deg 2% 68%;

    --primary: 18deg 25% 97%;
    --primary-foreground: 27deg 10% 11%;

    --secondary: 18deg 5% 21%;
    --secondary-foreground: 0deg 3% 81%;

    --accent: 43deg 96% 56%;
    --accent-foreground: 18deg 25% 97%;

    --border: 18deg 5% 21%;
    --border-secondary: 18deg 32% 76%; /* deprecated */

    --input: 18deg 5% 21%

    --positive: 111deg 59% 65%; /* deprecated */

    --destructive: 0deg 27% 11%;
    --destructive-foreground: 0deg 91% 71%;

    --warning: 36deg 28% 11%;
    --warning-foreground: 41deg 96% 40%;

    --info: 209deg 28% 11%;
    --info-foreground: 200deg 98% 39%;

    --success: 158deg 28% 10%;
    --success-foreground: 142deg 69% 58%;

    --ring: 27deg 32% 76%; /* deprecated */

    --radius: 0.5rem;



    ::-webkit-scrollbar { width: 8px; height: 8px;}
    ::-webkit-scrollbar-track {  background-color: #646464;}
    ::-webkit-scrollbar-track-piece { background-color: #000;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #646464;}
    ::-webkit-resizer { background-color: #666;}
  } 
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "IBM Plex Sans";
  }

  .container {
    @apply max-[958px]:px-4;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
   
  img{
    pointer-events: none;
    user-select: none;
  }  
}
