
name: Test static build on IPFS

on:
  workflow_dispatch:
  pull_request:
    branches:
      - v2
  
jobs:
  static-build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.CHARTING_ACCESS_TOKEN }}


    - name: Cache turbo build setup
      uses: actions/cache@v4
      with: 
        path: .turbo
        key: ${{ runner.os }}-turbo-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-turbo-
                    
    - name: Install pnpm
      uses: pnpm/action-setup@v4 

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18.18.2
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install
      
    - name: Set environment variables
      run: pnpm setenv:v2

    - name: Build all projects
      env: 
        PERPS_OCT_KEY: ${{ secrets.PERPS_OCT_KEY }}
        CHARTING_ACCESS_TOKEN: ${{ secrets.CHARTING_ACCESS_TOKEN }}
        NODE_OPTIONS: "--max_old_space_size=8192"
      run: NEXT_PUBLIC_HOST="ipfs" pnpm run build --filter='!berajs-docs' --filter='!storybook'
     